Source: pixi-tools
Maintainer: Simon Cantrill <simonjcantrill@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8), libi2c-dev, python-dev, swig, doxygen, graphviz

Package: pixi-tools
Architecture: any
Depends: pixi-fpga, ${shlibs:Depends}, ${misc:Depends}
Description: Tools for the Raspberry Pi and PiXi-200
 A set of software to interface with the Raspberry Pi and
 PiXi-200 hardware
