#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/pixi-tools prefix=/usr install

override_dh_auto_build:
	$(MAKE) -j4 all doc

override_dh_auto_test:
	if test "$$RUN_TESTS" != no; then \
	    $(MAKE) check; \
	fi

override_dh_usrlocal:
	true

override_dh_compress:
	dh_compress -X.c
